@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 7% 8%;
    --foreground: 0 0% 98%;
    --card: 222 7% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 222 7% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 43 74% 61%;
    --primary-foreground: 222 7% 12%;
    --secondary: 222 7% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 7% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 43 49% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 7% 20%;
    --input: 222 7% 20%;
    --ring: 43 74% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 7% 8%;
    --foreground: 0 0% 98%;
    --card: 222 7% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 222 7% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 43 74% 61%;
    --primary-foreground: 222 7% 12%;
    --secondary: 222 7% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 7% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 43 49% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 7% 20%;
    --input: 222 7% 20%;
    --ring: 43 74% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
